.flex {
	display: flex;
	&__direction {
		&--row {
			flex-direction: row ;
			&-reverse{
				flex-direction: row-reverse;
			}
		}
		&-column{
			flex-direction: column;	
			&-reverse{
				flex-direction: column-reverse;	
			}
		}		
	}
	&__justify-content {
		&--flex{
			&-start {
					justify-content: flex-start;
				}
			&-end{
				 	justify-content:flex-end;
				}	
			}
			&--center{
			 	justify-content:center;
			}
			&--space{
				&-between {
						 justify-content:space-between;
					}
				&-around{
						 justify-content:space-around; 
					}
				&-evenly{
					 justify-content:space-evenly;
				}		
			}
		}
		&.para {
			color: red;
		}
		&__align-items {
			align-items: center;
		}
	}
