$base: 100%;
@function get-value($n) {
   @return $n / ($n * 0 + 1);
}

@mixin font-size($font-size) {
   $base-size: get-value($base / 100);
   $base-px-size: 16 * $base-size;

   font-size: $font-size;
   font-size: (get-value($font-size) / $base-px-size) + rem;
}


@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin font-family($font) {
	font-family: $font, sans-serif;	
}

