@import '_fonts';
@import '_settings';
@import '_mixin';
@import '_flexbox';
@import '_button';

body {
  font-size: 100%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.container {
  width:100%;
  margin:0 auto;
  @include respond-to($tablet-landscape){
    width: 95%;
  }
  @include respond-to($large-desktop){
    width: 90%;
  }
  
}

.nav {
  background-color: $black-dark;
  display: block;
  color:$white;
  height: 100px;
  
  .logo {
    &__image{
      width: 350px;
      height: 80px;
      text-indent: -300px;
      display: block;
      background: url('../images/logo.png') no-repeat center center;
    }
    
  }
}
.menu-list {

  &__item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 560;
    
    &:hover, &.active{
        a {
        color:$green;
        }
    }
  }
  &__menu{
    color:$white;
    font-size: $font-20;
    text-decoration: none;
    transition:all 0.2s ease-in; 
    @include font-family($lato);
    padding: 0 $font-sm;
      @include respond-to($large-desktop){
       line-height: 100px;
      }
      @include respond-to($tablet-landscape){
       line-height: 100px;
      }
    }
}
.list-unstyle{
  list-style: none;
  padding: 0;
  margin: 0;
}
.heroshot{
  position: relative;
  color:$white;
  @include respond-to($large-desktop){
    min-height: 547px;
  }
  @include respond-to($tablet-landscape){
    min-height: 547px;
  }


  &__picture {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 500px;
    img{
      width: 100%;
    }
  }
  &__content {
    position: relative;
    &--wrap{
      position: absolute;
      top:0;
      left: 0;
      max-width: 50%;
    }
  }

  .header {
    &-type-1 {
      font-weight: 500;
      margin:0;
      color:$green;
      text-transform: uppercase;
      letter-spacing: -1px;
    }
    &-type-2 {
      margin:0;
      font-weight: 100;
      font-style: normal;
      font-variant-ligatures: normal;
      font-variant-caps: normal;
      font-variant-numeric: normal;
      font-variant-east-asian: normal;

    }
  }
}

.header {
  @include font-family($lato);
  &-type-1 {
    @include font-size(75px);
    font-weight: 500;
  }
  &-type-2 {
    font: 100 45px/45px "Lato", Arial, Helvetica, sans-serif
    /*@include font-size(45px);*/
  }

}
.para {
  @include font-family($lato);
  &-type-1 {
    @include font-size(16px);
  }
  &-type-2 {
    @include font-size(14px);
  }
 &-type-3 {
    @include font-size(18px);
    line-height: 30px;
  }
   
}


.grey-text {
  color : $grey-light;
}


.media-wrapper {
  padding: $space-xxlarge 0;
  background-color: $black-light;
  .icons_wrap {
      width: 170px;
      height: 170px;
      background-color: $green;
      color: $white;
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      transition:all 0.25s ease-in;
      cursor: pointer;
      .material-icons {
        font-size: 120px;
        line-height: 170px;
        transition:all 0.25s ease-in;
        color:$black;

      }
      &:hover {
          background-color: $black-dark-hover;
          .material-icons {
            color: $white;
          } 
      }
   }
   .header {
      &-type-2 {
        color:$white;
      } 
   }
   .para {
      &-type-1 {
        color: $grey;
        @include font-family($lato);
      }
   }
   .more_btn {
    margin: $space-sm 0;
   }
}


.media-songs {
  background-color: $grey-lighter;
  @include font-family($lato);
  .icons_wrap {
      width: 75px;
      height: 75px;
      display: inline-block;
      background-color: $white;
      color: #fff;
      border-radius: 50%;
      text-align: center;
      border:2px solid $black;
      transition:all 0.25s ease-in;
      .material-icons {
        font-size: 40px;
        line-height: 75px;
        transition:all 0.25s ease-in;
        color:$black;
        transition:all 0.25s ease-in;
      }

      &:hover {
        background-color: $white;
        .material-icons {
          color:$green;
        }
      };
  }

  .music-label {
    background: $green;
    padding: 10px;
    display: inline-block;
    line-height: 1rem; 
  }
  .header {
    &-type-2 {
      margin: 0;
      padding: $space-sm 0;
    }
  }
  li {
    display: table;

    .icons_wrap {
      display: table-cell;
      vertical-align: top;
    }
    .musicdetails {
       display: table-cell;
       vertical-align: top;
       padding-bottom: $space-sm; 
    }
    .icon {
        width: 95px;
    }
  }
  .music-download {
    @include font-size(14px);
    padding-top: 10px;
    color: $grey;
  }
}


.row {
  clear: both;
}
.col-4 {
  width:33.3333%;
}