@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2"); }

/* @mixin large-text {
  font: {
    family: Arial;
    size: $font-lg;
    weight: bold;
  }
  color: $black;
}

@mixin colors($text, $background: none, $border: none) {
  color: $text;
  background-color: $background;
  border-color: $border;
} */
.flex {
  display: flex; }
  .flex__direction--row {
    flex-direction: row; }
    .flex__direction--row-reverse {
      flex-direction: row-reverse; }
  .flex__direction-column {
    flex-direction: column; }
    .flex__direction-column-reverse {
      flex-direction: column-reverse; }
  .flex__justify-content--flex-start {
    justify-content: flex-start; }
  .flex__justify-content--flex-end {
    justify-content: flex-end; }
  .flex__justify-content--center {
    justify-content: center; }
  .flex__justify-content--space-between {
    justify-content: space-between; }
  .flex__justify-content--space-around {
    justify-content: space-around; }
  .flex__justify-content--space-evenly {
    justify-content: space-evenly; }
  .flex.para {
    color: red; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .container {
      width: 95%; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 90%; } }

.nav {
  background-color: #080809;
  display: block;
  color: white;
  height: 100px; }
  .nav .logo__image {
    width: 350px;
    height: 80px;
    text-indent: -300px;
    display: block;
    background: url("../images/logo.png") no-repeat center center; }

.menu-list__item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600; }
  .menu-list__item:hover a {
    color: #33ff9b; }

.menu-list__menu {
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.2s ease-in;
  font-family: "Lato", sans-serif;
  padding: 1rem 1.5rem; }

.list-unstyle {
  list-style: none;
  padding: 0;
  margin: 0; }
