body {
  font-family: 'Arial', sans-serif;
}
.form-wrap{
  max-width: 600px;
  margin: 20px auto 0;
}
.level-3 {
  font-size: 36px;
}

.heading {
  font-size: 19px;
}
.signup {
  max-width: 500px;

}
.row {
  clear: both;
  margin-top: 10px;
}
.col-2, .col-1{
   display: flex;
   justify-content: space-between;
}
.col-2 input[type=text]{
  width: 48%;
}

.col-1 input[type=text], .col-1  input[type=email], .col-1 input[type=password]{
  width: 100%;
}
.col-2 input[type=text], .col-1 input[type=text], .col-1  input[type=email], .col-1 input[type=password]{
  padding:10px;
  border: 1px solid #d7d7d7;
  border-radius: 3px; 
}

.form-wrap ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#ccc;
  font-weight: 400;
}
.form-wrap ::-moz-placeholder { /* Firefox 19+ */
  color:#ccc;
  font-weight: 400;
}
.form-wrap :-ms-input-placeholder { /* IE 10+ */
  color:#ccc;
  font-weight: 400;
}
.form-wrap :-moz-placeholder { /* Firefox 18- */
  color:#ccc;
  font-weight: 400;
}
